section.profile-contacts.profile-bar(style="width: 700px;")
    div.profile-quote(ng-if='vm.user.get("id") == "34"')
        span Каждому участнику проекта ежедневно начисляется +100 очков, если была проделана какая-то работа.<br>
        span В случае, если за день активность отсутствовала, все баллы участника&nbsp;
        span(style='color: red;') полностью сгорают.
        p(style="margin-top: 20px;") На текущий момент вы набрали:
        div(style="background-color: #ec86a7; color: white; display: flex; justify-content: space-between; align-items: baseline;")
            h1(style="font-size: 135px; color: gray;") 0
            span(style="color: black; font-size: 25px;") очков
        span(style="font-weight: bold;") ПОНИЖЕНИЕ:&nbsp;
        span За предыдущий день вы не проявили активности в платформе. Ваши очки сгорают, следующие +100 очков вы сможете получить завтра, если сегодня проявите активность в работе.
    div.profile-quote(ng-if='vm.user.get("id") != "34"')
        span Каждому участнику проекта ежедневно начисляется +100 очков, если была проделана какая-то работа.<br>
        span В случае, если за день активность отсутствовала, все баллы участника&nbsp;
        span(style='color: red;') полностью сгорают.
        p(style="margin-top: 20px;") На текущий момент вы набрали:
        div(style="background-color: #c5efc5; color: white; display: flex; justify-content: space-between; align-items: baseline;")
            h1(style="font-size: 135px; color: gray;") 200
            span(style="color: black; font-size: 25px;") очков