doctype html

h1(style='margin-left: 30px')
    span.green {{"HOME.DASHBOARD" | translate}}

div#demo(tg-project-packets-list)


div.home-wrapper.centered

    div.duty-summary
        tg-working-on.dashboard-container

    aside.project-list(tg-home-project-list)
