.stats-charts {
  border: 2px solid #d7da00;
  text-align: center;
}
.stats-warning {
  border: 2px solid #9fc77a;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 25px;
}